{
  "singleQuote": false,
  "trailingComma": "all",
  "quoteProps": "consistent",
  "overrides": [
    {
      "files": ["*.html", "*.json"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
